:root {
  --brand-color-red: #DC3F40;
  --color-regular: #fff;

  --contact-btn: var(--brand-color-red);
}

.contact-btn {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  padding: 14px 33px;
  color: var(--color-regular);
  border-radius: 25px;
  background: var(--contact-btn);
  opacity: .8
}

.contact-btn:hover {
  color: var(--color-regular);
  background: var(--contact-btn);
  opacity: 1;
}

.contact-btn:visited {
  color: var(--color-regular);
}
